@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

#hero{
  background: rgba(149, 145, 196, 0.44);;
  height: 30vh;
  text-align: center;
}

#hero h1{
  font-size: 4em;
  color: white;
  padding-top: 1em;
}

#hero p{
  font-size: 2em;
  color: white;
  text-transform: uppercase;
}

/* MAIN */
.container-50{
  width: 70%;
  margin: 2em auto;
}

.container-50 h1{
  font-size: 2.5em;
  margin-bottom: 1em;
  text-align: center;
}

.container-50 h2{
  margin: 1em 0;
}

.container-50 p{
  margin: 1em 0;
  font-size: 1.2em;
}

.container-50 ul{
  margin-top: 1em;
  margin-left: 3em;
  margin-bottom: 3em;
}

.container-50 a{
  background: rgba(149, 145, 196, 0.77);
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: .7em 1.4em;
  margin-left: 3em;
}

/* SECTION-A */

.section-a{
  background: rgba(149, 145, 196, 0.44);
  text-align: center;
  color: white;
  margin-top: 2em;
  
}

.section-text{
  padding: 4em 10em;
}

.section-a p{
  font-size: 1.2em;

}

/* GRID*/

.container-80{
  width: 80%;
  margin: 4em auto;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  margin: auto;
}

.grid2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  margin: auto;
}

/* CONTAINER-40/SECTION-B*/
.section-b{
  background: rgba(149, 145, 196, 0.44);
  color: white;
  padding: 3em;
}

.container-40{
  width: 40%;
  margin: auto;
}

.container-40 p{
  font-size: 1em;
  margin-bottom: .5em;
}

footer{
  background: rgba(149, 145, 196, 0.44);
  color: white;
  padding: 2em;
}

footer ul{
  list-style: none;
  margin: auto;
}

footer a{
  text-decoration: none;
  color: white;
}

/* MEDIA QUERIES*/

@media(max-width: 760px){

  #hero{
    height: 20vh;
    margin-bottom: 1em;
  }
  #hero h1{
    font-size: 3em;
  }

  #hero p{
    font-size: 1.5em;
  }

  .container-50{
    width: 90%;
    margin: auto;
  }

  .section-text{
    padding: 2em 8em;
  }
  
  .section-a p{
    font-size: 1.2em;
  
  }

  .grid2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: auto;
  }
}

@media(max-width: 500px){

  #hero{
    height: 20vh;
    margin-bottom: 1em;
  }
  #hero h1{
    font-size: 2em;
  }

  #hero p{
    font-size: 1.5em;
  }

  .container-50{
    width: 90%;
    margin: auto;
  }

  .section-text{
    padding: 2em 4em;
  }
  
  .section-a p{
    font-size: 1.2em;
  
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: auto;
  }

  .grid2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: auto;
  }
}

